{% include 'header.html' %}
<body>

<div class="container">
    	<div class="top">
        	<span class="titulo">Tarjeta de Beneficios  
</span>
</div>
<div style="height:55px; margin:0 auto; width:95%; color:#434343; font-size:14px; text-align: left"> 
	Imprimí tu tarjeta de beneficios.<br />
</div>


<div class="tarjeta">
{{message}} <br />
</div>

</div>


</style>
</body>
</html>


